# List

In [1]:
# Creating an empty list
empty_list = []

# Creating a list with elements
numbers = [1, 2, 3, 4, 5]
fruits = ['apple', 'banana', 'orange']
mixed_list = [1, 'hello', True, 3.14]

In [2]:
numbers = [10, 20, 30, 40, 50]

# Accessing individual elements using indexing
print(numbers[0])   # Output: 10
print(numbers[2])   # Output: 30
print(numbers[4])   # Output: 50

10
30
50

In [3]:
numbers = [10, 20, 30, 40, 50]

print(numbers[-1])  # Output: 50 (last element)
print(numbers[-3])  # Output: 30 (third element from the end)

50
30

In [4]:
numbers = [10, 20, 30, 40, 50]

# Trying to access an index that is out of range
print(numbers[5])   # Raises IndexError: list index out of range

IndexError: list index out of range

### Liit Slicing

In [5]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Slicing from index 2 to index 5 (exclusive)
subset1 = numbers[2:5]
print(subset1)  # Output: [2, 3, 4]

# Slicing from the beginning to index 6 (exclusive)
subset2 = numbers[:6]
print(subset2)  # Output: [0, 1, 2, 3, 4, 5]

# Slicing from index 5 to the end
subset3 = numbers[5:]
print(subset3)  # Output: [5, 6, 7, 8, 9]

# Slicing with a step of 2 (includes every second element)
subset4 = numbers[1:9:2]
print(subset4)  # Output: [1, 3, 5, 7]

# Reverse the list using slicing (step -1)
reversed_list = numbers[::-1]
print(reversed_list)  # Output: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

[2, 3, 4]
[0, 1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]
[1, 3, 5, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [6]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Slicing from the second-to-last element to the fourth-to-last element (exclusive)
subset5 = numbers[-2:-4:-1]
print(subset5)  # Output: [8, 7]

[8, 7]

### List Function

In [7]:
numbers = [1, 2, 3, 4, 5]
print(len(numbers))  # Output: 5

5

In [8]:
numbers = [10, 5, 25, 15]
print(max(numbers))  # Output: 25

25

In [9]:
numbers = [10, 5, 25, 15]
print(min(numbers))  # Output: 5

5

In [10]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))  # Output: 15

15

In [11]:
numbers = [5, 2, 8, 1, 3]
sorted_numbers = sorted(numbers)
print(sorted_numbers)  # Output: [1, 2, 3, 5, 8]
print(numbers)        # Output: [5, 2, 8, 1, 3] (original list remains unchanged)

[1, 2, 3, 5, 8]
[5, 2, 8, 1, 3]

In [12]:
numbers = [1, 2, 3, 4, 5]
reversed_numbers = list(reversed(numbers))
print(reversed_numbers)  # Output: [5, 4, 3, 2, 1]
print(numbers)          # Output: [1, 2, 3, 4, 5] (original list remains unchanged)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [13]:
fruits = ['apple', 'banana', 'orange']
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")
# Output:
# Index 0: apple
# Index 1: banana
# Index 2: orange

Index 0: apple
Index 1: banana
Index 2: orange

### Built In Function

In [14]:
fruits = ['apple', 'banana']
fruits.append('orange')
print(fruits)  # Output: ['apple', 'banana', 'orange']

['apple', 'banana', 'orange']

In [15]:
fruits = ['apple', 'banana']
more_fruits = ['orange', 'grape']
fruits.extend(more_fruits)
print(fruits)  # Output: ['apple', 'banana', 'orange', 'grape']

['apple', 'banana', 'orange', 'grape']

In [16]:
numbers = [1, 2, 3, 5]
numbers.insert(3, 4)
print(numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [17]:
fruits = ['apple', 'banana', 'orange']
fruits.remove('banana')
print(fruits)  # Output: ['apple', 'orange']

['apple', 'orange']

In [18]:
fruits = ['apple', 'banana', 'orange']
popped_fruit = fruits.pop(1)
print(popped_fruit)  # Output: 'banana'
print(fruits)       # Output: ['apple', 'orange']

banana
['apple', 'orange']

In [19]:
numbers = [1, 2, 2, 3, 2, 4, 2, 5]
count_2 = numbers.count(2)
print(count_2)  # Output: 4

4

In [20]:
fruits = ['apple', 'banana', 'orange']
index_orange = fruits.index('orange')
print(index_orange)  # Output: 2

2

### List Copy

### Shallow Copy

In [21]:
#Using slicing:
original_list = [1, 2, [3, 4]]
shallow_copy = original_list[:]

In [22]:
#Using the copy() method:
import copy

original_list = [1, 2, [3, 4]]
shallow_copy = copy.copy(original_list)

### Deep Copy

In [23]:
import copy

original_list = [1, 2, [3, 4]]
deep_copy = copy.deepcopy(original_list)

In [24]:
import copy

original_list = [1, 2, [3, 4]]
shallow_copy = original_list[:]
deep_copy = copy.deepcopy(original_list)

# Modify the nested object in the original list
original_list[2][0] = 5

print(original_list)   # Output: [1, 2, [5, 4]]
print(shallow_copy)    # Output: [1, 2, [5, 4]] (changes are reflected in the shallow copy)
print(deep_copy)       # Output: [1, 2, [3, 4]] (deep copy remains unaffected)

[1, 2, [5, 4]]
[1, 2, [5, 4]]
[1, 2, [3, 4]]

# Tuple

In [25]:
# Creating an empty tuple
empty_tuple = ()

# Creating a tuple with elements
fruits = ('apple', 'banana', 'orange')

# Tuple with different data types
mixed_tuple = (1, 'hello', True, 3.14)

In [26]:
fruits = ('apple', 'banana', 'orange')

# Accessing individual elements using indexing
print(fruits[0])  # Output: 'apple'
print(fruits[1])  # Output: 'banana'

# Slicing a tuple
print(fruits[1:])  # Output: ('banana', 'orange')

# Iterating over a tuple
for fruit in fruits:
    print(fruit)
# Output:
# 'apple'
# 'banana'
# 'orange'

apple
banana
('banana', 'orange')
apple
banana
orange

### Set

In [27]:
# Creating an empty set
empty_set = set()

# Creating a set with elements
fruits = {'apple', 'banana', 'orange'}

# Using set() function
colors = set(['red', 'green', 'blue'])

In [28]:
fruits = {'apple', 'banana', 'orange'}

for fruit in fruits:
    print(fruit)
# Output: 'orange', 'apple', 'banana' (order may vary)

orange
banana
apple

### Set Operations

In [32]:
#union
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [33]:
#intersection
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

{3}

In [34]:
#Difference 
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

{1, 2}

In [35]:
#Symmetric Difference 
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [36]:
#Subset 
set1 = {1, 2}
set2 = {1, 2, 3, 4}

print(set1 <= set2)  # Output: True

True

In [37]:
#Proper Subset
set1 = {1, 2}
set2 = {1, 2, 3, 4}

print(set1 < set2)  # Output: True

True

In [38]:
#Superset 
set1 = {1, 2, 3, 4}
set2 = {1, 2}

print(set1 >= set2)  # Output: True

True

In [39]:
#Proper Superse
set1 = {1, 2, 3, 4}
set2 = {1, 2}

print(set1 > set2)  # Output: True

True

# Dictionary

In [40]:
dictionary = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A',
    'is_enrolled': True
}

print(dictionary['name'])         # Output: 'John Doe'
print(dictionary['age'])          # Output: 25
print(dictionary['is_enrolled'])  # Output: True

John Doe
25
True

In [41]:
dictionary = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

# Adding a new key-value pair
dictionary['school'] = 'ABC High School'

# Modifying a value
dictionary['grade'] = 'B'

# Removing a key-value pair
del dictionary['age']

print(dictionary)
# Output: {'name': 'John Doe', 'grade': 'B', 'school': 'ABC High School'}

{'name': 'John Doe', 'grade': 'B', 'school': 'ABC High School'}

### Dictionary functions

In [42]:
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

print(len(student))  # Output: 3

3

In [43]:
# Creating a dictionary from a list of tuples
data = [('name', 'John Doe'), ('age', 25), ('grade', 'A')]
student = dict(data)

print(student)  # Output: {'name': 'John Doe', 'age': 25, 'grade': 'A'}

{'name': 'John Doe', 'age': 25, 'grade': 'A'}

In [44]:
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

sorted_keys = sorted(student)
print(sorted_keys)  # Output: ['age', 'grade', 'name']

['age', 'grade', 'name']

In [45]:
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

keys_view = student.keys()
print(keys_view)  # Output: dict_keys(['name', 'age', 'grade'])

dict_keys(['name', 'age', 'grade'])

In [46]:
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

values_view = student.values()
print(values_view)  # Output: dict_values(['John Doe', 25, 'A'])

dict_values(['John Doe', 25, 'A'])

In [47]:
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

items_view = student.items()
print(items_view)  # Output: dict_items([('name', 'John Doe'), ('age', 25), ('grade', 'A')])

dict_items([('name', 'John Doe'), ('age', 25), ('grade', 'A')])

### Dictionary Functions

In [48]:
#len
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

print(len(student))  # Output: 3

3

In [49]:
#dict 
# Creating a dictionary from a list of tuples
data = [('name', 'John Doe'), ('age', 25), ('grade', 'A')]
student = dict(data)

print(student)  # Output: {'name': 'John Doe', 'age': 25, 'grade': 'A'}

{'name': 'John Doe', 'age': 25, 'grade': 'A'}

In [50]:
#sorted
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

sorted_keys = sorted(student)
print(sorted_keys)  # Output: ['age', 'grade', 'name']

['age', 'grade', 'name']

In [51]:
#key 
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

keys_view = student.keys()
print(keys_view)  # Output: dict_keys(['name', 'age', 'grade'])

dict_keys(['name', 'age', 'grade'])

In [52]:
#values
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

values_view = student.values()
print(values_view)  # Output: dict_values(['John Doe', 25, 'A'])

dict_values(['John Doe', 25, 'A'])

In [53]:
#items
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

items_view = student.items()
print(items_view)  # Output: dict_items([('name', 'John Doe'), ('age', 25), ('grade', 'A')])

dict_items([('name', 'John Doe'), ('age', 25), ('grade', 'A')])

In [54]:
#get 
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

print(student.get('name'))       # Output: 'John Doe'
print(student.get('address'))    # Output: None
print(student.get('address', 'N/A'))  # Output: 'N/A' (default value when key is not found)

John Doe
None
N/A

In [55]:
#pop 
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

name = student.pop('name')
print(name)       # Output: 'John Doe'
print(student)    # Output: {'age': 25, 'grade': 'A'}

John Doe
{'age': 25, 'grade': 'A'}

In [56]:
#clear
student = {
    'name': 'John Doe',
    'age': 25,
    'grade': 'A'
}

student.clear()
print(student)    # Output: {}

{}

In [57]:
#update 
student = {
    'name': 'John Doe',
    'age': 25
}

# Update with a dictionary
student.update({'grade': 'A'})

# Update with an iterable of key-value pairs
student.update([('address', '123 Main St'), ('city', 'New York')])

print(student)
# Output: {'name': 'John Doe', 'age': 25, 'grade': 'A', 'address': '123 Main St', 'city': 'New York'}

{'name': 'John Doe', 'age': 25, 'grade': 'A', 'address': '123 Main St', 'city': 'New York'}

In [58]:
#copy 
student = {
    'name': 'John Doe',
    'age': 25
}

student_copy = student.copy()
print(student_copy)    # Output: {'name': 'John Doe', 'age': 25}

{'name': 'John Doe', 'age': 25}